<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="/assets/adamo-only-logo.svg" width="28" height="28" alt="adamo">DAMO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/dashboard">Tutorial<span class="sr-only">(current)</span></a>
            </li>
            <li><a *ngIf="!loginService.isUserLoggedIn()" routerLink="/login" class="nav-link text-white">Login</a></li>
            <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/logout" class="nav-link text-white" (click)='btn_logout'>LogOut</a>
            </li>
        </ul>
    </div>
</nav>
