<h1>Introduction to Basics of BPMN</h1>

<div class="container">

    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
        dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
        clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
        consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed
        diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
        takimata sanctus est Lorem ipsum dolor sit amet.</p>

    <p>Maybe an example picture of a simple BPMN</p>



</div>

<div class="container">

    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
        dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
        clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
        consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed
        diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
        takimata sanctus est Lorem ipsum dolor sit amet.</p>

    <p>Maybe an example picture of a simple BPMN</p>

</div>

<h1>Maybe first container is visible an if click next change the hidden fields<br>Introduction pages are static pages!!!</h1>

<div class="container">
    <a class="btn btn-primary btn-lg btn-block" routerLink="/dashboard/testmc">Test your knowlege</a>
    <a class="btn btn-primary btn-lg btn-block" routerLink="/dashboard/testmod">Go to first lesson</a>
    <hr>
    <a class="btn btn-outline-primary btn-lg btn-block" routerLink="/dashboard/overview">Show Overview</a>
</div>