<div><h1 class="text-center"> Welcome to BPMN Modelling</h1></div>
<div style="width:100vw; height: 100vw;">
        <as-split direction="horizontal">
                          <as-split-area>
                              <as-split direction="vertical">
                                  <as-split-area>
                                        <h3> Description of the Task :</h3>
                                        <p> Please Modell a BPMN Diagramm Satisfiying the following Requirements:   
                                        After the start of the Process, the Process ends.  
                                        Challenge : Use only 3 Objects to fullfill this task</p>
                                  </as-split-area>
                              </as-split>
                          </as-split-area>
                          <as-split-area>
                              <as-split direction="vertical">
                                  <as-split-area>
                                        
                                        <div style="width:900px; height:500px; background-color: gray">
                                               <br><br><br><br><br> <br><br><br> <h1> Here would b the Modeller </h1>
                                        </div>
                                        <button  (click)=showSolution() class="right">Validate</button>
                                  </as-split-area>
                                  <as-split-area>
                                                             <h2>Solution</h2>
                                        Please note that this resembles one of possible many Solutions.
                                        If your Solution differs from the given one, compare the modules carefully.
                                        Please do not validate your Sultion until you are satisfied with your result.
                                       <div id="solution_container"></div>
                                  </as-split-area>
                              </as-split>
                          </as-split-area>
                      </as-split>
      </div>